<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body data-th-object="${contact}">

    <div class="sucess-msg" th:text="${msg}" th:if="${msg != null}" style="color:blue;">
    </div>
        <br>
    <a href="/"> Back to home</a>
    <br>
    <a href="/list">Back To Contact List</a>
        <br>
    <h1>Your contact information</h1>

        <p>
            Id:
            <p data-th-text="*{id}"></p>
        </p>
            <br>
        <p>
            Name:
            <p data-th-text="*{name}"></p>
        </p>    
            <br>
        <p>    
            Email:
            <p data-th-text="*{email}"></p>
        </p>    
             <br>

        <p>    
            Phone Number:
            <p data-th-text="*{phoneNumber}"></p>
        </p>    
            <br>

        <p>    
            Date of Birth:
            <p data-th-text="*{dateOfBirth}"></p>
        </p>

</body>

</html>