<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of Contacts</h1>
    <!-- iterate over each contact -->
    <p th:each = "id : ${contacts}">
        <!-- creates URL, and set text content of anchor element -->
        <a data-th-href = "@{'/contact/'+ ${id}}" data-th-text = "${id}"></a>
    </p>
</body>
</html>